*{
    margin: 0;
}
.container{
    background-color: #E0E0E0;
}
.container-header{
    display: flex;
    background-color: white;
    position: fixed;
    height: 10vh;
    width: 100%;
    
}
.container-body{
    padding: 15px;
    
}
.container-footer{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    height: 45px;
}
.container-footer-name{
    color: white;
    padding-left: 10px;
}
.container-footer-course{
    color: white;

}